body{
    background-color:turquoise;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;

}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    /* ^^^ no scroll bars, even if something goes outside its container*/
}

#main-header{
    background-color:aqua;
    color:#333;

}

#navbar{
    background-color:coral;
    color:#fff;

}

#navbar ul{
    padding:0;
    list-style:none;

}

#navbar li{
    display: inline;
    /*Puts the list items from vertical, to inline horizontal*/
}

#navbar a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    padding-right: 15px;
}

#showcase{
    background-image:url('../images/surf.jpg');
    background-position:center right;
    min-height:300px;
    margin-bottom:50px;
    text-align:center;
  }

#showcase h1{
    color:#fff;
    font-size:50px;
    line-height: 1.6em;
    padding:30px;
}
